.container {
  margin: 100px auto;
  max-width: 760px;
}

a {
  color: #6887ba;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

i {
  color: black;
}

h1 {
  font-family: 'Open Sans';
  font-size: 3.5em;
  font-weight: bold;
}

p {
  font-family: 'Inconsolata';
  font-size: 17px;
  line-height: 30px;
}

img {
  float: right;
  padding: 16px;
}

.fa {
  margin-right: 20px;
}
